<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<title>Busqueda</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card-deck mt-5" th:if="${personajes == null or personajes.empty}">
					<h2>Resultados: </h2>
					<div th:replace="layout/listadoPersonajes :: listadoPersonajes"></div>
				</div>
			</div>
			<div th:unless="${personajes == null or personajes.empty}">
       			<h2>No hay resultados</h2>
   			</div>
		</div>
	</div>
</body>
</html>